body{
    background-color: blanchedalmond;
}

.my-border{
 border-radius: 15px;   
}

.demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://images.hola.com/imagenes/mascotas/20221020219416/razas-perros-toy/1-154-385/razas-de-perro-toy-t.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;